.add-friend-modal {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.add-friend-modal form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.add-friend-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}