.chat-container {
  height: calc(100vh - 50px);
  align-self: end;
  overflow-y: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 30px 10px 0;
}

.messages-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  width: auto;
  padding: 4px 4px 30px 4px;
  overflow-y: auto;
}

.message {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: start;
  width: auto;
  min-width: 200px;
  text-overflow: clip;
  position: relative;
  z-index: 1;
}

.message-date {
  position: absolute;
}

.my-message-date {
  margin-left: auto;
  left: 0;
  bottom: 0;
  transform: translateY(calc(100% + 7px));
}

.friends-message-date {
  margin-right: auto;
  right: 0;
  bottom: 0;
  transform: translateY(calc(100% + 7px));
  color: black;
}

.friends-message {
  margin-right: auto;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 5px 5px 5px 0;
  padding: 10px 30px 10px 10px;
  box-shadow: 2px 2px 2px gray;
}

.my-message {
  margin-left: auto;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 10px 10px 10px 30px;
  box-shadow: -2px 2px 2px gray;
  border-radius: 6px 5px 0 5px;
}
