.chat-container {
    height:  calc(100vh - 40px);
    align-self: end;
    overflow-y: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 30px 10px 0;
}

.messages-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    max-height: calc(100% - 50px);
    overflow-y: auto;

}
