.send-message-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.send-message-form input {
    border-radius: 5px 0 0 5px !important;
}

.send-message-form button {
    border-radius: 0 5px 5px 0;
    padding: 10px 5px;
    border-left: 0;
    width: 200px;
}